$blue-dark: #072146;
$blue-light: #237AB9;
$blue-bg-message:#eaf9fa;
$white: #ffffff;
$black: #171717;
$gray: #C8C8C8;
$gray-dark: #797979;
$gray-block: #F3F3F3;
$aqua: #02a5a5;
$aqua-hover: #2bbbad;
$green: #47ad64;
$btn-disabled:#bdbdbd;
$bg-modal:rgba(0, 0, 0, 0.77)